body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

.App {
  text-align: center;
}

.MuiContainer-root {
  padding: 20px;
}

.tabs-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tab-content {
  padding: 20px;
}

.home-banner {
  background: linear-gradient(135deg, #ff5722, #e64a19);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-features .MuiCard-root {
  background-color: #4caf50;
  color: white;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

.home-features .MuiCard-root:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


.cta-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
.social-icons a {
  color: white;
  margin: 0 10px;
}